<!doctype html>
<html lang="en">

<head>
  <%- include('../base/head'); %>
</head>

<style>
  .table-responsive {
    max-height: 400px;
  }
</style>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <%- include('../base/header'); %>
  </header>

  <div class="container-fluid">

    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <%- include('../base/nav'); %>
      </nav>

      <main id="mainContent" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        <canvas class="my-4 w-100" id="entregasChart" width="900" height="240"></canvas>

        <h2>Status Entregas</h2>
        <div class="table-responsive overflow-auto">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Cod. Cliente</th>
                <th scope="col">Cod. Veículo</th>
                <th scope="col">Origem</th>
                <th scope="col">Destino</th>
                <th scope="col">Data Pedido</th>
                <th scope="col">Previsão Entrega</th>
                <th scope="col">Status</th>
                <th scope="col">Valor</th>
                <th scope="col">Distância (km)</th>
              </tr>
            </thead>
            <tbody id="data-result">
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

  <script>

    $("#mainContent").hide();

    const labels = [
    ];

    const data = {
      labels: labels,
      datasets: [{
        label: 'Entregas',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [],
      }]
    };

    const config = {
      type: 'bar',
      data: data,
      options: {}
    };

    const entregasChart = new Chart(
      document.getElementById('entregasChart'),
      config
    );

    $(document).ready(function () {
      $.getJSON("/data", "type=STATUS", function (data) {
        var result = JSON.parse(JSON.stringify(data));
        for (var i = 0; i < result.data.length; i++) {
          entregasChart.data.datasets[0].data[i] = result.data[i].Quantidade;
          entregasChart.data.labels[i] = result.data[i].Status;
        }
        entregasChart.update();
      });

      $.getJSON("/data", "type=FULL", function (data) {
        var result = JSON.parse(JSON.stringify(data));
        for (var i = 0; i < result.data.length; i++) {
          let row = result.data[i];
          $("#data-result").append("<tr><td>" + row.id_cliente + "</td><td>" + row.id_veiculo + "</td><td>" + row.origem + "</td><td>" + row.destino + "</td><td>" + new Date(row.data_pedido).toDateString() + "</td><td>" + new Date(row.previsao_entrega).toDateString() + "</td><td>" + row.status + "</td><td> R$ " + row.valor + "</td><td>" + row.distancia + "</td></tr>");
        }

        $("#mainContent").show();

      });

    });
  </script>

</body>

</html>