<!doctype html>
<html lang="en">

<head>

  <head>
    <%- include('../base/head'); %>
  </head>
</head>

<body class="text-center body-login">

  <main class="form-signin">
    <form action="/" method="post">
      <h1 class="h3 mb-3 fw-normal">Portal Corporativo Boa Entrega</h1>

      <div class="form-floating">
        <input type="text" name="user" class="form-control" id="floatingInput" placeholder="Usuário">
        <label for="floatingInput">Usuário</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Senha">
        <label for="floatingPassword">Senha</label>
      </div>

      <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
          <%- messages.error %>
        </div>
        <% } %>

          <input type="submit" class="btn btn-lg w-100 btn-primary" value = "Entrar">
          <p class="mt-5 mb-3 text-muted">2022 - Boa Entrega</p>
    </form>
  </main>

</body>

</html>