<!doctype html>
<html lang="en">

<head>
  <%- include('../base/head'); %>
</head>

<script>
  function showErrorStatus(errorMessage) {
    $("#error").show();
    $("#result").hide();
    $("#error-text").text(errorMessage);
  }

  function showSuccessStatus(result) {
    $("#error").hide();
    $("#result").show();
    $("#original-date").text(new Date(result.data.data_pedido).toDateString());
    $("#delivery-date").text(new Date(result.data.previsao_entrega).toDateString());
    $("#origin").text(result.data.origem);
    $("#destiny").text(result.data.destino);
    $("#status").text(result.data.status);
  }

  $(document).ready(function () {
    $("#error").hide();
    $("#result").hide();

    $('#rastreio').submit(function () {
      let values = $(this).serialize();

      $.getJSON("/tracking", values, function (data) {
        let result = JSON.parse(JSON.stringify(data));
        if (result.error != null) {
          showErrorStatus(result.error);
        } else {
          showSuccessStatus(result);
        }
      }).fail(function (xhr, status, error) {
        let errorMessage = JSON.parse(xhr.responseText).error;
        showErrorStatus(errorMessage);
      });
      return false;
    });
  });
</script>

<body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <%- include('../base/header'); %>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <%- include('../base/nav'); %>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="form-signin">

          <form id="rastreio" action="">
            <h1 class="h3 mb-3 fw-normal">Rastreio de entregas</h1>

            <div class="form-floating">
              <input type="text" name="code" class="form-control" id="floatingInput" placeholder="Código">
              <label for="floatingInput">Código</label>
            </div>
            <div class="form-group mt-4">
              <input type="submit" class="w-100 btn btn-primary" value="Rastrear" />
            </div>
          </form>
          <div id="error" class="alert alert-danger mt-4" role="alert">
            <span id="error-text"></span>
          </div>
        </div>

        <div id="result">
          <h4>Resultado</h4>
          <div class="table-responsive" id="tracking-result">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Data Pedido</th>
                  <th scope="col">Previsão Entrega</th>
                  <th scope="col">Origem</th>
                  <th scope="col">Destino</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span id="original-date"></span>
                  </td>
                  <td>
                    <span id="delivery-date"></span>
                  </td>
                  <td>
                    <span id="origin"></span>
                  </td>
                  <td>
                    <span id="destiny"></span>
                  </td>
                  <td>
                    <span id="status"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>

</body>

</html>